body {
    background: #222222;
    margin: 0;
    font-size: 16px;
    color: #ccfcfc;
}
body * {
    font-family: helvetica, sans-serif;
}
a {
    color: #50f148;
}
div .table {
    display: table;
    padding-bottom: 25px;
}

div .row {
    display: table-row;
}

div .cell {
    display: table-cell;
    padding-right: 5px;
}

p {
    padding-left: 1em;
}

iFrame {
    border: none;
    width: 100%;
    height: 600px;
}

.hidden {
    display: none
}